.red-button {
    align-items: center;
    background-color: var(--button-maroon-color);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: var(--text-color-white);
    cursor: pointer;
    display: inline-flex;
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    font-weight: normal;
    justify-content: center;
    /*line-height: 20px;*/
    max-width: 460px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
.red-button:hover,
.red-button:focus { 
  background-color: var(--header-first-shade);
}

.white-button {
    align-items: center;
    background-color: var(--button-white-color);
    border-width: 3px;
    border-style: solid;
    border-color: var(--button-maroon-color);
    border-radius: 100px;
    box-sizing: border-box;
    color: var(--text-color-black);
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
    justify-content: center;
    /*line-height: 20px;*/
    max-width: 460px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
.white-button:hover,
.white-button:focus { 
    background-color: var(--grey);
}