.categories__carousel {
    display: grid;
    max-height: 450px;
    grid-template-columns: 40px 1fr 40px;
    gap: 10px;
    align-items: center;
} 

.categories__carousel-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.categories__carousel-slide div {
    position: relative;
    
    transition: background-color 0.3s ease;
}

.categories__carousel-slide img{
    max-width: 450px;
    min-width: 390px;
    height: 400px; 
    object-fit: cover;
    padding: 5px;
    display: block;
}

/*.categories__carousel-slide div:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: aliceblue;
    cursor: pointer;
}

.categories__carousel-slide:hover img#carousel-img-cleaning {
    opacity: 0.7;
}*/


.categories__carousel-slide p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--text-color-black);
    position: absolute;
    transform: translateX(-50%);
    bottom: 20px;
    left: 50%;
    width: 100%;
    /*background-color: var(--background-color);*/
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 40%;
    padding: 3px 0;
    background-clip: padding-box;
}

.categories__carousel-indicators {
    padding: 15px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.categories__carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--button-white-color);
    cursor: pointer;
    border-color: var(--grey);
}

.categories__carousel-indicator--active {
    background-color: var(--main-maroon-color);
}