@import url(/css/global.css);
@import url(/css/header.css);
@import url(/css/buttons.css);
@import url(/css/footer.css);

.card__home-link {
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card__home-link a {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    color: var(--text-color-black);
    text-decoration: none;
    padding-right: 8px;
}

.card__home-link a:hover {
    text-decoration: underline;
    transition: font-weight 0.3s;
}

.card__home-link img{
    width: 18px;
    height: 18px; 
    object-fit: cover;
    padding: 0.5px 3px;
}

.card__home-link p{
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    color: var(--text-color-black);
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 8px;
}

.cards__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* дві колонки однакової ширини */
    gap: 80px;
    margin: 100px 130px;
}

.card__container {
    width: 500px !important;
    height: 250px;
    border: 1px solid var(--border-light-grey-color);
    display: flex;
    flex-direction: row;
    padding: 0 !important;
}

.card__photo-container {
    margin-left: 0;
}

.card__photo-container img{
    width: 200px;
    height: 249px; 
    object-fit: cover;
}

.card__title-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card__title-container {
    padding: 20px 7px 0 15px;
}

.card__title-container h3 {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color-black);
}

.card__text-container {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.card__text-container p {
    font-family: "Comfortaa", sans-serif;
    font-size: 15px;
    color: var(--text-color-black);
}

.load-button {
    display: flex;
    justify-content: center;
    margin-bottom: 150px !important;
    margin: 20px auto;
}

.underline {
    text-decoration: underline;
}