@import url(/css/global.css);  
 

.sign-up__user-icon {
    width: 80px;
    height: 80px; 
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.sign-up__add-icon {
    width: 20px;
    height: 20px; 
    object-fit: cover;
    position: absolute;
    z-index: 2;
    margin: 58px 0 0 56px;
    cursor: pointer;
}

.required {
    color: var(--main-maroon-color);
    font-size: 22px;
    font-weight: bold;
}

.form-title-field {
    display: flex;
    flex-direction: column;
}

.form-title {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    color: var(--text-color-black);
    padding: 20px 0 5px 3px;
}

.form-field {
    border-radius: 100px;
    border: 2px solid var(--border-light-grey-color);
    width: 680px;
    height: 35px;
    padding: 12px; 
}

.form-field:hover {
    border: 2px solid var(--border-grey-color);
    transition: border 0.25s;
}

.experience-field {
    height: 150px;
    border-radius: 20px;
    vertical-align: top;
}

.drop-down-field {
    width:210px;
}

select option:checked {
    display: none;
}
select::before {
    content: var(--placeholder);
    color: red;
    font-size: 8px;
}

.form-submit-button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.white-button {
    width: 210px;
    font-family: "Comfortaa", sans-serif;
}
  

