@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-black: #000000;
    --text-color-white: #ffffff;
    --text-color-maroon: #800000;
    --text-color-grey: #747474;
    --text-color-light-grey: #dddddd;
    --text-color-maroon-shade: #f76f6b;
    --background-color: #ffffff;
    --button-white-color: #ffffff;
    --button-maroon-color: #800000;
    --button-maroon-shade-color: #f76f6b;
    --header-maroon-color: #800000;
    --devider-maroon-color: #800000;
    --devider-maroon-shade-color: #f76f6b;
    --main-maroon-color: #800000;
    --header-first-shade: #f76f6b;
    --grey: #dddddd;
    scroll-behavior: smooth;
    /*font-family: ;*/
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}