@import url(global.css);
header {
  background-color: var(--header-maroon-color);
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px;
}

.header__left-container {
  display: flex;
  flex-direction: row;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items:start;
}

.header__logo img {
  width: 60px;
  height: 60px; 
  object-fit: cover;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items:start;
  padding-left: 15px;
}

.menu__item{
  color: var(--text-color-white);
  text-decoration: none;
  display: flex;
  text-align: center;
  padding: 21px 17px;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
}

.menu__item:hover {
  color: var(--text-color-light-grey);
  text-decoration: none;
}

.menu__item-dropdown {
  display: flex;
  text-align: center;
  float:left;
  overflow: hidden;
}
.menu__dropdown-btn{
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  padding-left: 13px;
}
.menu__dropdown-btn i {
  padding-left: 7px;
}
.menu__item-dropdown .menu__dropdown-btn {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px; 
  border: none;
  outline: none;
  color: var(--text-color-white);
  padding: 20px 17px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: inherit;
  margin: 0;
}
.menu__item-dropdown:hover .menu__dropdown-btn {
  background-color: var(--button-white-color);
  border-radius: 20px;
  color: var(--text-color-black);
  min-width: 100px;
  transition-duration: .1s;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: var(--text-color-black);
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
}  

.dropdown-content a:hover {
  background-color: var(--grey);
  border-radius: 20px;
}
.menu__item-dropdown:hover .dropdown-content {
  display: block;
}

.header__right-container {
  display: flex;
  justify-content: center;
  justify-items: end;
}

.menu__sign-btn{
  border: none;
  background-color: transparent;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  display: inline-block;
  padding: 9px 17px;
}
.sign-btn{
  display: flex;
  text-align: center;
  color: var(--text-color-black);
  text-decoration: none;
}
.menu__sign-btn .sign-btn{
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  border-radius: 20px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 100px;
  white-space: normal;
  text-align: center;
  padding: 14px 10px 14px;
  /*padding: 16px 14px 18px;*/
  color: var(--text-color-black);
  background-color: var(--button-white-color);
  height: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.menu__sign-btn .sign-btn:hover{
  background-color: var(--grey);
  outline: none;
}

.header__search-icon {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 8px;
}

.header__search-icon img {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 40px;
  height: 40px; 
  object-fit:contain;
}


.header__search-icon img:hover {
  outline: none;
  cursor: pointer;
}