@import url(global.css);
.header {
  background-color: var(--header-maroon-color);
  padding: 5px;
  font-family: "EB Garamond", serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.header__nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-family: inherit;
  font-size: 20px;
}

.header__menu {
  float: left;  
}

.menu__item {
  color: var(--text-color-white);
  text-decoration: none;
  display: flex;
  text-align: center;
  
  padding: 21px 17px;
  float: left;
}

.header__menu-sign-items{
  float: right;  
  margin-right: 16px;
}
.menu__item-dropdown {
  display: flex;
  text-align: center;
  float:left;
  overflow: hidden;
}
.menu__dropdown-btn{
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
}
.menu__item-dropdown .menu__dropdown-btn {
  font-size: inherit;  
  border: none;
  outline: none;
  color: var(--text-color-white);
  padding: 21px 17px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.menu__item-dropdown:hover .menu__dropdown-btn {
  background-color: var(--button-white-color);
  border-radius: 20px;
  color: var(--text-color-black);
  min-width: 100px;
  transition-duration: .1s;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: var(--text-color-black);
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}  
.dropdown-content a:hover {
  background-color: var(--grey);
  border-radius: 20px;
}
.menu__item-dropdown:hover .dropdown-content {
  display: block;
}

.menu__signup-btn{
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  padding: 9px 17px;
}
.signup-btn{
  display: flex;
  text-align: center;
  color: var(--text-color-black);
  text-decoration: none;
}
.menu__signup-btn .signup-btn{
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  border-radius: 20px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 100px;
  white-space: normal;
  text-align: center;
  padding: 14px 12px 14px;
  /*padding: 16px 14px 18px;*/
  color: var(--text-color-black);
  background-color: var(--button-white-color);
  height: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.menu__signup-btn .signup-btn:hover{
  background-color: var(--grey);
  outline: none;
}

.header__search-icon {
  display: inline-block;
  margin: 15px;
}
.header__search-icon:hover {
  outline: none;
  cursor: pointer;
}