@import url(/css/global.css);
@import url(/css/header.css);
@import url(/css/buttons.css);
@import url(/css/categories-carousel.css);
@import url(/css/acordion-questions.css);
@import url(/css/footer.css);
.intro {
    font-family: "Comfortaa", sans-serif;
    display: flex;
    flex-direction: row;
}

.intro__image-container{
    margin: 35px 50px 35px 35px;
}
.intro__image{
    width: 500px;
    height: 600px; 
    object-fit: cover;
}

.intro__text-buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro__title{
    font-family:inherit;
    font-size: 40px;
    padding-bottom: 15px;
}

.intro__text {
    font-size: 16px;
    line-height: 1.7;
    padding: 5px 15px 17px 0;

}

.intro_buttons {
    display: flex;
    flex-direction: row;
}
.intro__button-try-now {
    margin-right: 30px;
}

.devider {
    margin: 50px 90px 50px 150px;
    background-color: var(--devider-maroon-color);
    max-width: 1400px;
    height: 3px;
}

.categories__title {
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 80px;
}

.categories__carousel-btn-prev {
    border: none;
    background-color: var(--background-color);
}

.categories__carousel-btn-next {
    border: none;
    background-color: var(--background-color);
}

.helpful-tips {
    margin: 180px 0;
    display: flex;
    flex-direction: row;
}

.helpful-tips__top-container {
    margin: 20px 135px;
    background-color: var(--main-maroon-color);
    border-radius: 100px;
    border: 1px solid var(--main-maroon-color);
    display: flex;
    flex-direction: row;
    width: 1200px;
    padding: 80px 150px;
    position: relative;
    z-index: 1;
}

.helpful-tips__decorative-check-marks {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    justify-content: space-around;
}

.helpful-tips__decorative-check-marks img {
    width: 40px;
    height: 40px; 
    object-fit:contain;
    display: flex;
    justify-content: center;
    padding-bottom: 13px;
}

.helpful-tips__text {
    width: 480px;
    display: flex;
    justify-content: start;
    display: flex;
    flex-direction: column;
}

.helpful-tips__text p {
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    width: 480px;
    color: var(--text-color-white);
    line-height: 4;
}

.helpful-tips__bottom-container {
    margin: 60px 900px;
    background-color: var(--background-light-grey-color);
    border-radius: 100px;
    border: 1px solid var(--background-light-grey-color);
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 300px;
    padding: 180px 350px;
    position: absolute;
    z-index: 2;
    justify-content: center;
}

.helpful-tips__bottom-container h2 {
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--text-color-black);
}

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 65px;
    max-height: 1170px;
}

.testimonials__left-container {
    max-width: 650px;
}

.testimonials .testimonials__container {
    /*border: 1px solid var(--devider-maroon-color);*/
    padding: 5px;
    margin: 5px;    
}

.testimonials__container {
    display: flex;
    flex-direction: row;
}

.testimonials__decorive-title-container {
    display: flex;
    flex-direction: row;
}

.testimonials__mini-devider-left{
    margin-right: 8px;
    margin-top: 10px;
    background-color: var(--devider-maroon-shade-color);
    width: 25px;
    height: 2px;
}

.testimonials__decorive-title {
    color: var(--text-color-maroon-shade);
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
}

.testimonials__mini-devider-right {
    margin-left: 8px;
    margin-top: 10px;
    background-color: var(--devider-maroon-shade-color);
    width: 25px;
    height: 2px;
}

.testimonials__main-title-container {
    padding: 25px 0;
}

.testimonials__main-title {
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
}

.testimonials__title-description {
    max-width: 650px;
    padding-bottom: 30px;
}

.testimonials__title-description p{
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.5;
}

.testimonials__photo{
    vertical-align: middle;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials__name-text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px 28px 50px 40px;
    max-width: 900px;
}

.testimonials__name-container {
    padding-bottom: 7px;
}

.testimonials__name {
    font-family: "Comfortaa", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--text-color-maroon);
}

.testimonials__text-container {
    padding: 5px 0;
}

.testimonials__text {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color-grey);
}

.testimonials__image-right-container {
    max-width: 900px;
    height: 1100px; 
    object-fit: cover;
    display: flex;
    justify-items: end;
}

.analysis {
    display: flex;
    justify-content: center;
    text-align: center;
    max-height: 700px;
    padding-top: 220px;
    margin-bottom: 220px;
    flex-direction: column;
}

.analysis__title {
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
    color: var(--text-color-black);
    padding-bottom: 40px;
}

.analysis__text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.analysis__statement {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
}

.analysis__statement-numbers {
    font-family: "Comfortaa", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color-black);
    padding-bottom: 20px;
    vertical-align: top;
}

.analysis__statement-numbers-description {
    max-width: 250px;
}

.analysis__statement-numbers-description p {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    color: var(--text-color-black);
    word-wrap: break-word;
}

.ready-to-start {
    margin-top: 220px;
    background-color: var(--main-maroon-color);
    max-height: 800px;
    display: flex;
    flex-direction: row;
}

.ready-to-start__image-container {
    display: flex;
    justify-content: start;
}

.ready-to-start__image-container img {
    width: 800px;
    height: 800px; 
    object-fit: cover;
    object-position:left;
}

.ready-to-start__text-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    padding-left: 40px;
}

.ready-to-start__title {
    padding-bottom: 15px;
}

.ready-to-start__title h2 {
    font-size: 40px;
    font-family: "Comfortaa", sans-serif;
    color: var(--text-color-white);
}

.ready-to-start__text {
    padding: 5px 15px 17px 0;
    max-width: 650px;
}

.ready-to-start__text p {
    font-size: 16px;
    font-family: "Comfortaa", sans-serif;
    color: var(--text-color-white);
    line-height: 1.7;
    word-wrap: break-word;
}

.red-with-white-border-button a {
    font-size: 16px;
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    color: var(--text-color-white);
}

.red-with-white-border-button a:hover {
    font-size: 16px;
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    color: var(--text-color-black);
}