@import url(/css/global.css);
@import url(/css/header.css);
@import url(/css/buttons.css);
@import url(/css/categories-carousel.css);
.intro {
    font-family: "Comfortaa", sans-serif;
    display: flex;
    flex-direction: row;
}

.intro__image-container{
    margin: 35px 50px 35px 35px;
}
.intro__image{
    width: 500px;
    height: 600px; 
    object-fit: cover;
}

.intro__text-buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro__title{
    font-family:inherit;
    font-size: 40px;
    padding-bottom: 15px;
}

.intro__text {
    font-size: 16px;
    line-height: 1.7;
    padding: 5px 15px 17px 0;

}

.intro_buttons {
    display: flex;
    flex-direction: row;
}
.intro__button-try-now {
    margin-right: 30px;
}

.devider {
    margin: 50px 90px 50px 150px;
    background-color: var(--devider-maroon-color);
    max-width: 1400px;
    height: 3px;
}

.categories__title {
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 80px;
}

.categories__carousel-btn-prev {
    border: none;
    background-color: var(--background-color);
}

.categories__carousel-btn-next {
    border: none;
    background-color: var(--background-color);
}

.helpful-tips {
    margin: 80px 0 40px 0;
}

.helpful-tips__image-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.helpful-tips__image {
    max-width: 1200px;
    max-height: 600px; 
    object-fit:cover;
}

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 65px;
    max-height: 900px;
    max-width: 1150px;
}

.testimonials__left-container {
    max-width: 650px;
}

.testimonials .testimonials__container {
    /*border: 1px solid var(--devider-maroon-color);*/
    padding: 5px;
    margin: 5px;    
}

.testimonials__container {
    display: flex;
    flex-direction: row;
}

.testimonials__decorive-title-container {
    display: flex;
    flex-direction: row;
}

.testimonials__mini-devider-left{
    margin-right: 8px;
    margin-top: 10px;
    background-color: var(--devider-maroon-shade-color);
    width: 25px;
    height: 2px;
}

.testimonials__decorive-title {
    color: var(--text-color-maroon-shade);
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
}

.testimonials__mini-devider-right {
    margin-left: 8px;
    margin-top: 10px;
    background-color: var(--devider-maroon-shade-color);
    width: 25px;
    height: 2px;
}

.testimonials__main-title-container {
    padding: 25px 0;
}

.testimonials__main-title {
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
}

.testimonials__title-description {
    max-width: 650px;
    padding-bottom: 30px;
}

.testimonials__title-description p{
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.5;
}

.testimonials__photo{
    vertical-align: middle;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials__name-text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px 28px 50px 40px;
    max-width: 900px;
}

.testimonials__name-container {
    padding-bottom: 7px;
}

.testimonials__name {
    font-family: "Comfortaa", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--text-color-maroon);
}

.testimonials__text-container {
    padding: 5px 0;
}

.testimonials__text {
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color-grey);
}

.testimonials__image-right-container {
    max-width: 900px;
    height: 1100px; 
    object-fit: cover;
    display: flex;
    justify-items: end;
}