@import url(/css/global.css);
@import url(/css/header.css);
@import url(/css/buttons.css);
@import url(/css/categories-carousel.css);
.intro {
    font-family: "Noto Sans", sans-serif;
    display: flex;
    flex-direction: row;
}

.intro__image-container{
    margin: 35px 50px 35px 35px;
}
.intro__image{
    width: 500px;
    height: 600px; 
    object-fit: cover;
}

.intro__text-buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro__title{
    font-family:inherit;
    font-size: 40px;
    padding-bottom: 15px;
}

.intro__text {
    font-size: 16px;
    line-height: 1.7;
    padding: 5px 15px 17px 0;

}

.intro_buttons {
    display: flex;
    flex-direction: row;
}
.intro__button-try-now {
    margin-right: 30px;
}

.devider {
    margin: 30px 90px 50px 90px;
    background-color: var(--devider-maroon-color);
    max-width: 1400px;
    height: 3px;
}

.categories__title {
    font-family: inherit;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.categories__carousel-btn-prev {
    border: none;
    background-color: var(--background-color);
}

.categories__carousel-btn-next {
    border: none;
    background-color: var(--background-color);
}

.helpful-tips {
    margin: 80px 0 40px 0;
}

.helpful-tips__image-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.helpful-tips__image {
    max-width: 1200px;
    max-height: 600px; 
    object-fit:cover;
}